<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<h3>Reviews</h3>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %> - Rating: <%= review.rating %></li>
  <% end %>
</ul>

<%= link_to "Write a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
<%= link_to "See all restaurants", restaurants_path, class: "btn btn-primary" %>
